#sec3 {
  width:100%;
  background: linear-gradient(to bottom left, #ff03c6,#0604aa, #0604aa);
  padding-bottom:400px;
}

#sec3 .sectionWrap {
  width:100%;
}
#sec3 .row {
  transform: translateY(100px);
  transition: all .5s ease;
  opacity:0;
}
#sec3 .row::after {
  content:"";
  display: block;
  clear: both;
}
#sec3 .row:nth-child(2) {
  text-align: right;
}
#sec3 .sectionWrap .row .textwrap {
  width:40%;
  float: left;
  margin-bottom:10rem;
}
#sec3 .sectionWrap .row .textwrap * {
  padding-left:2rem;
}

#sec3 .sectionWrap .row .textwrap img {
  width:96%;
}

#sec3 .sectionWrap .row:nth-child(2) .textwrap {
  text-align: right;
}

#sec3 .sectionWrap .row:nth-child(2) .textwrap:nth-child(2){
  text-align: right;
  width:60%;
}

#sec3 .imgwrap {
  width:64%;
  height:50vw;
  overflow: hidden;
  position: absolute;
  bottom:0%;
}

#sec3 .imgwrap img {
  width:100%;
}
@media only screen and (max-width: 768px) {
  #sec3 {
    width:100%;
    padding-bottom:200px;
    overflow: hidden;
  }
  #sec3 .sectionWrap .row .textwrap {
    margin-bottom:5rem;
  }
  #sec3 .sectionWrap .row:nth-child(2) .textwrap:nth-child(1){
    text-align: right;
    width:100%;
    margin: 0;
  }
  #sec3 .sectionWrap .row:nth-child(2) .textwrap:nth-child(1) img {
    padding:0;
  }
  #sec3 .sectionWrap .row:nth-child(2) .textwrap:nth-child(2){
    text-align: right;
    width:95%;
  }
  #sec3 .imgwrap {
    width:100%;
    height:70vw;
    overflow: hidden;
    position: absolute;
    bottom:0%;
  }
}
