#sec6 {
  width:100%;
  height:60vw;
  background: url("../imgs/jpg/b8.jpg") no-repeat 50% 50%;
  background-size:cover;
}

@media only screen and (max-width: 768px) {
  #sec6 {
    height:120vw;
    background: url("../imgs/jpg/b8mobile.jpg") no-repeat 50% 50%;
    background-size:cover;
  }
}
