#sec7 {
  width:100%;
  background: linear-gradient(to bottom right, #ff0092, #55029e);
  background-size:cover;
  overflow: hidden;
}
#sec7 .sectionWrap {
  width:100%;
  position: relative;
}
#sec7 .sectionWrap .row {
  opacity:0;
  transform:translateY(100px);
  transition: all .5s ease;
}
#sec7 .sectionWrap .row .textwrap * {
  padding-left:2rem;
}
#sec7 .sectionWrap .row .textwrap {
  text-align: right;
  padding-right:2rem;
}
#sec7 .sectionWrap .row.topRow {
  padding:5rem 0;
  text-align: center;
}
#sec7 .sectionWrap .row.topRow .imgwrap {
  position: relative;
}
#sec7 .sectionWrap .row.topRow .imgwrap img {
  width:70%;
}
#sec7 .sectionWrap .row.topRow .imgwrap .letter {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  width:6%;
}
#sec7 .sectionWrap .row.topRow .imgwrap .letter.rightLetter {
  right:5%;
}
#sec7 .sectionWrap .row.topRow .imgwrap .letter.leftLetter {
  left:5%;
}
#sec7 .sectionWrap .row.middleRow {
  padding-top:10%;
  padding-bottom:70%;
}
#sec7 .sectionWrap .row.middleRow img {
  padding-left:2rem;
  width:60%;
  position: absolute;
  z-index: 2;
}
#sec7 .sectionWrap .row.middleRow .textwrap {
  text-align: left;
  position: absolute;
  top:68%;
}

#sec7 .sectionWrap #ball {
  position: absolute;
  bottom:10rem;
  right:0;
  width:44%;
  z-index: 0;

}

@media only screen and (max-width: 768px) {
  #sec7 .sectionWrap .row.middleRow img {
    width:90%;
    position: relative;
  }
  #sec7 .sectionWrap .row.middleRow .textwrap {
    text-align: left;
    position: relative;
    top:68%;
  }
  #sec7 .sectionWrap #ball {
    position: absolute;
    bottom:0rem;
    right:-20%;
    width:80%;
    z-index: 0;

  }
}
